.buttons{
    background: #122750;
border-radius: 5px;
padding: 12.4px 43px;
font-family: 'Poppins', sans-serif;;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #FFFFFF;
}